<!DOCTYPE html>
<html>

<head>
  <title>
    Islam
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>

  <style>
    body{
      display: grid;
      
    }
    main{
    
    }
  </style>
</head>

<body>
  <header>
    <h1>
      <a href="/">Hinduism</a>
    </h1>
    <h3>Hinduism</h3>
  </header>
  <section>
    
    <div>
      <div>
        Hinduism is an Indian religion and dharma, or way of life. It is the world's third-largest religion with over 1.25 billion followers, or 15–16% of the global population, known as Hindus. The word Hindu is an exonym, and while Hinduism has been called the oldest religion in the world, many practitioners refer to their religion as Sanātana Dharma, "the eternal way" which refers to the idea that its origins lie beyond human history, as revealed in the Hindu texts. Another, though less fitting, self-designation is Vaidika dharma,the 'dharma related to the Vedas.'
<br>
Hinduism includes a range of philosophies, and is linked by shared concepts, recognisable rituals, cosmology, pilgrimage to sacred sites and shared textual resources that discuss theology, philosophy, mythology, Vedic yajna, Yoga, agamic rituals, and temple building, among other topics. Hinduism prescribes the eternal duties, such as honesty, refraining from injuring living beings (ahimsa), patience, forbearance, self-restraint, and compassion, among others. Prominent themes in Hindu beliefs include the four Puruṣārthas, the proper goals or aims of human life; namely, Dharma (ethics/duties), Artha (prosperity/work), Kama (desires/passions) and Moksha (liberation/freedom from the cycle of death and rebirth/salvation), as well as karma (action, intent and consequences) and Saṃsāra (cycle of death and rebirth).
<br>
Hindu practices include rituals such as puja (worship) and recitations, japa, meditation (dhyana), family-oriented rites of passage, annual festivals, and occasional pilgrimages. Along with the practice of various Yogas, some Hindus leave their social world and material possessions and engage in lifelong Sannyasa (monasticism) in order to achieve Moksha.
<br>
Hindu texts are classified into Śruti ("heard") and Smṛti ("remembered"), the major scriptures of which are the Vedas, the Upanishads, the Puranas, the Mahabharata, the Ramayana, and the Āgamas. There are six āstika schools of Hindu philosophy, who recognise the authority of the Vedas, namely Sankhya, Yoga, Nyaya, Vaisheshika, Mimamsa and Vedanta.
<br>
While the Puranic chronology presents a geneaology of thousands of years, starting with the Vedic rishis, scholars regard Hinduism as a fusion or synthesis of Brahmanical orthopraxy with various Indian cultures, having diverse roots and no specific founder. This Hindu synthesis emerged after the Vedic period, between ca. 500–200 BCE and c. 300 CE, in the period of the Second Urbanisation and the early classical period of Hinduism, when the Epics and the first Puranas were composed. It flourished in the medieval period, with the decline of Buddhism in India.
<br>
Currently, the four largest denominations of Hinduism are the Vaishnavism, Shaivism, Shaktism and Smartism. Sources of authority and eternal truths in the Hindu texts play an important role, but there is also a strong Hindu tradition of questioning authority in order to deepen the understanding of these truths and to further develop the tradition. Hinduism is the most widely professed faith in India, Nepal and Mauritius. Significant numbers of Hindu communities are found in Southeast Asia including in Bali, Indonesia, the Caribbean, North America, Europe, Oceania, Africa, and other regions.
      </div>
    </div>



  </section>

<main>
  <div>

  </div>

</main>
</body>

