<!DOCTYPE html>
<html>
<head>
 <title>   
     World Religions
 </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <style>
    div { 
      width: 50%; height: 50%; float: left;
      
       }
    form { 
      background: #DDD;
      text-align: center;
     }
   
      
 
  </style>
</head>
<body> 
 <header>
    <h1> World Religions</h1>
    <h3>What do you want to know about?</h3>
 </header>
 <main>
  <div id="div1">
    <form action="/christianity">
    <button value="Christianity">Christianity </button>
    </form>
  </div>
  <div id="div2">
    <form action="/islam">
    <button value="Islam">Islam</button>
    </form>
  </div>
  <div id="div3">
    <form action="/hinduism">
    <button value="Hinduism">Hinduism</button>
    </form>
  </div>
  <div id="div4">
    <form action="/buddhism">
    <button value="Buddhism">Buddhism</button>
    </form>
  </div>     
      </select>
 
    </form>
  </main>
</body>



