<!DOCTYPE html>
<html>
<head>
 <title>   
     World Religions
 </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <style>
    body{
      height:100%; padding:0; margin: 0;
    }
    div {
      width:50%; 
      height:50%; 
      float:left;
      text-align: center;
      }
    button { 
      background: #DDD;
      text-align: center;
     }
   
      
 
  </style>
</head>
<body> 
 <header>
    <h1> World Religions</h1>
    <h3>What do you want to know about?</h3>
 </header>
 <main>
  <section>
  <div action="/christianity" id="div1">
        <button value="Christianity">
          <img src="cross.png" width=200 height=200>Christianity
        </button>             
  </div>

  <div action="/islam" id="div2">
      <button value="Islam">
        <img src="islam.png" width=200 height=200>Islam
      </button>
  </div>

  <div action="/hinduism" id="div3">
    <button value="Hinduism">
      <img src="hinduism.png" width=200 height=200>Hinduism
    </button>
  </div>
  <div action="/buddhism" id="div4">
    <button value="Buddhism">
      <img src="buddhism.png" width=200 height=200>
      Buddhism</button>
  </div>     
  </main>
</section>
</body>



