<!DOCTYPE html>
<html>

<head>
  <title>
    Reddit Reader
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"/>
  <link rel="shorcut icon" sizes="16x16 32x32x 64x64" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/IslamSymbol1.svg/165px-IslamSymbol1.svg.png"/>

  <style>
  
    
  </style>
</head>

<body>
  <header>
    <h1>
      <a href="/">Islam</a>
    </h1>
    <h3>Reading: </h3>
  </header>
<main> 
  <div class="part">
    <div class="par1">
    <strong>Islam</strong> is {{db_text}}
    </span>
    <div class="part2">
      
    </span>
  </div>
</main>
  
</body>

